@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);
    font-family: 'Signika', sans-serif;
    font-size: 21px;
}

.content-tabla{
    padding: 10px;
    margin-top: 25px;
}

.table-curso{
    border-spacing: 10px;
    font-size: 12px;
}
.table-curso td {
    width: 9px;
}
.llenar{
    width: 100%;
}

.table-re{
    border-spacing: 10px;
    font-size: 12px;
}
.table-semestre{
    border-spacing: 10px;
    font-size: 12px;
}

header {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0px -8px 25px #6d6d6d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 991;
}

.botones{
    background-color: #000000;
}

.menu {
    display: inline-block;
    cursor: pointer;
}

.main {
    position: relative;
    top: 50px;
    padding-top: 20px;
}

aside {
    width: 70px;
    background: #fff;
    padding: 0px 0px 0px 0px;
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0px;
    height: 100%;
    box-shadow: 0px 3px 5px #6d6d6d;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
}

.fa-2x {
    font-size: 70px;
}

.btn .fa {
    padding: 0;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.fa {
    padding: 0;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

aside ul {
    padding-left: 10px;
    list-style: none;
    width: 100%;
}

aside ul li {
    padding: 5px 0px;
    position: relative;
}

aside ul li a {
    font-size: 14px;
    color: #4a4a4a;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

aside ul li a span {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    width: 38px;
}

article {
    background-size: cover;
    width: 92%;
    height: 100vh;
    margin-left: 7%;
    border-radius: 5px;
    box-shadow: 0px 2px 7px #6d6d6d;
}

aside ul li:hover {
    background: #fff;
    box-shadow: inset 0px 0px 77px #dedede;
}

aside ul li a span.notif {
    position: absolute;
    top: 8px;
    text-align: center;
    width: 30px;
    height: 30px;
    right: 10px;
    background: #343436;
    line-height: 31px;
    border-radius: 100%;
    color: #fff;
}

.red {
    background: #e74c3c !important;
    box-shadow: 0px 0px 10px #e74c3c;
}

.yellow {
    background: #f1c40f !important;
    box-shadow: 0px 0px 10px #f1c40f;
}

.green {
    background: #27ae60 !important;
    box-shadow: 0px 0px 10px #27ae60;
}

aside ul li a {
    color: white;
}

aside ul li {
    color: white;
}

.keep {
    background: #222E3C;
}

aside ul li a span.notif.green {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;
    transition: all 0.2s ease;
}

aside ul li a span.notif.yellow {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;
    transition: all 0.2s ease;
}

aside ul li a span.notif.red {
    width: 10px;
    height: 10px;
    color: transparent;
    right: 5px;
    transition: all 0.2s ease;
}

aside ul li:hover a span.notif.red {
    width: 30px;
    height: 30px;
    right: 15px;
    color: #fff;
    box-shadow: 0px 0px 60px #e74c3c;
    top: 10px;
}

aside ul li:hover a span.notif.yellow {
    width: 30px;
    height: 30px;
    right: 15px;
    color: #fff;
    box-shadow: 0px 0px 60px #f1c40f;
    top: 10px;
}

aside ul li:hover a span.notif.green {
    width: 30px;
    height: 30px;
    right: 15px;
    color: #fff;
    box-shadow: 0px 0px 60px #27ae60;
    top: 10px;
}

aside.keep.width {
    width: 300px;
}

aside.keep.width ul li a span.notif {
    width: 30px;
    height: 30px;
    right: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px transparent;
    top: 8px;
}


/*  */

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

p.blink.mah {
    text-align: center;
    line-height: 25;
    position: relative;
}

p.blink.mah span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 102, 153, 0);
    top: 248px;
    left: 360px;
}

aside ul li.active a {
    color: black;
}

aside ul li.active {
    background: rgba(255, 255, 255, 0.453);
}


/*  */

.navbar {
    padding-left: 70px;
}

.page-wrapper .page-content {
    padding-left: 70px;
}

.page-wrapper.toggled .sidebar-wrapper {
    left: 10px;
}

@media screen and (max-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 300px;
    }
    .navbar.toggled {
        padding-left: 300px;
    }

    .botones .btn-group {
        width: 25%;
    }
    .botones{
        background-color: white;
    }
}
