html {
    height: 100%;
}

body {
    height: 100%;
}

table {
    font-size: 18px;
}

.global-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/fondo-inicio.jpeg');
    background-size: cover;
}

.card {
    margin-top: 2em;
    margin-bottom: 5em;
}

.card-title {
    font: weight 250px;
    ;
    text-align: center;
}

.card_text {
    align-items: center;
    justify-content: center;
}

.card_text form {
    width: fit-content;
}

.tam-boton {
    width: 200px;
}

.login-form {
    width: 250px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 20px 0 0;
}

.alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
}


/*------------NavbarAdmin--------------*/

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.container {
    margin: 0px;
}

.form-group {
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
}

.boton-color {
    color: #fff;
    background-color: #222E3C;
    border-color: #222E3C;
}

.boton-color:hover {
    color: #fff;
    border-color: #456080;
}

.boton-color2 {
    color: #fff;
    background-color: #770412;
    border-color: #770412;
}

.boton-color2:hover {
    color: #fff;
    border-color: #770412;
}

.editar {
    width:fit-content ;
    background-color: #ffe924;
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.eliminar {
    color: #fff;
    background-color: #e3342f;
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.boton-criterio{
    color: #fff;
    background-color: #222E3C;
    border-color: #222E3C;
    font-size: 0.7875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
}

.boton-criterio:hover {
    color: #fff;
    border-color: #456080;
}

.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input[type="submit"]{
    padding-left: 2em;
}
.icon-input-btn .fa{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}


/*DATATABLES*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #000000 !important;
    border: 1px solid transparent;
    border-radius: 2px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #000000 !important;
    size: 10px;
  }

  .dataTables_wrapper .dataTables_paginate {
    color: #000000;
    font-size: 15px;
  }
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_info
  ,.dataTables_wrapper .dataTables_filter {
    color: #000000; 
    font-size: 15px;
  }

